:root {
  --mainColor:#5a6165;
  --secondaryColor: #003d2e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p {
  word-wrap: break-word;
}

.basket_inner {
  position: absolute;
  margin: auto;
  z-index: 25;
  height: 100%;
}

.basket {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 25;
  right: 0;
  height: 100%;
  margin: auto;
  z-index: 25;
}
.slick-dots li button {
  background-color: var(--mainColor) !important;
}



.addProduct_inner {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  z-index: 25;
}

.addProduct {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  /* margin: auto; */
  z-index: 25;
  overflow: scroll;
}



@media screen and (min-width: 200px) and (max-width: 1024px) {
  .basket {
    left: 0;
    width: 100%;
  }
}

input:hover {
  outline: none;
}

.globalSearchInput>input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--mainColor);
  border-left: none;
  border-right: none;
  border-top: none;
  float: left;
  width: 100%;
  background: none;
}
.globalSearchInput>input[type='text']::placeholder {
  color:white
}
.globalSearchInput>input[type='text'] {
  color:white
}

.globalSearchInput>input[type='text']:hover {
  border: 1px solid white;
}

/* Style the submit button */
.globalSearchInput>button {
  width: 20%;
  padding: 10px;
  background: var(--secondaryColor);
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}



.ant-tag-checkable-checked,
.ant-checkbox {
  background-color: var(--secondaryColor)!important;
}

.ant-tag-checkable-checked {
  color: white !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
}
@keyframes bounce{
  from {transform: translateY(0);}
  to   {transform: translateY(-10px);}
}
.popup {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-Index: 20
}

.popup_inner {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  z-Index: 20

}

input:disabled {
  background: var(--mainColor)

}
.ant-tabs-ink-bar {
  background-color: var(--secondaryColor) !important; 
}
.ant-tabs-tab:hover {
  color: var(--secondaryColor) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .ant-spin-dot-item {
  color:var(--secondaryColor) !important
}
.ant-spin-dot-item{
  background-color: var(--secondaryColor) !important
}

.ant-menu-item-selected{
  color:white !important

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--mainColor) !important;
}

.ant-input-suffix{
z-index: 0 !important;
}

a {color:'white'}

.ant-carousel .slick-dots-bottom {
  bottom: 0 !important
}


h3 {
  color:var(--mainColor) 
}

.ant-card-head-title {
  white-space: pre-line !important;
}