:root {
  --mainColor:#5a6165;
  --secondaryColor: #003d2e;
  --thirdColor: #89ba17;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p {
  word-wrap: break-word;
  
}


.slick-dots li button {
  background-color: var(--mainColor) !important;
}


@media screen and (min-width: 200px) and (max-width: 1024px) {
  .basket {
    width: 100%;
  }
}

input:hover {
  outline: none;

}

input:focus {
  outline: none;
}

p{margin: 0}


.ant-input-affix-wrapper-focused{
  border: 0;
  border-bottom: 1px solid white !important; 
outline: none !important;
}

.ant-input-affix-wrapper-focused.inputStyle, .ant-select-focused{
  border: 0;
  border-bottom: 1px solid var(--thirdColor) !important; 
outline: none !important;
}

.maxBudget::placeholder {
  color:var(--thirdColor)
}
.maxBudget{
  border: 1px solid grey;
  border-radius: 4px;
  background: none !important;

}

.inputStyle{
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 4px;
  background: none !important;

}
.inputStyle:focus{
  border: 0;
  border-bottom: 1px solid var(--thirdColor) !important;
  border-radius: 4px;
  background: none !important;

}

.ant-select:focus {
  border-bottom: 1px solid var(--thirdColor);

}


.globalSearchInput{
  margin-top: 28px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid rgb(253, 251, 251);
  border-radius: 8px;
  background: none !important;
   color: white;
}

.globalSearchInput > input {
  color:white
}

.productCard{
  -webkit-box-shadow:inset 1px 1px 12px 1px#d2d6da;
  -moz-box-shadow:inset 1px 1px 12px 1px#d2d6da;
  box-shadow:inset 1px 1px 12px 1px#d2d6da;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  }
.testCard{
  -webkit-box-shadow:inset 1px 1px 12px 1px#d2d6da;
  -moz-box-shadow:inset 1px 1px 12px 1px#d2d6da;
  box-shadow:inset 1px 1px 12px 1px#d2d6da;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  }

.detailCard{
  -webkit-box-shadow:inset 1px 1px 12px 1px#b5b8b8;
  -moz-box-shadow:inset 1px 1px 12px 1px#b5b8b8;
  box-shadow:inset 1px 1px 12px 1px#b5b8b8;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  }

.ant-tag-checkable-checked,
.ant-checkbox {
  background-color: var(--secondaryColor)!important;
}

.ant-tag-checkable-checked {
  color: white !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
}
@keyframes bounce{
  from {transform: translateY(0);}
  to   {transform: translateY(-10px);}
}


input:disabled {
  background: var(--mainColor)

}
.ant-tabs-ink-bar {
  background-color: var(--secondaryColor) !important; 
}
.ant-tabs-tab:hover {
  color: var(--secondaryColor) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .ant-spin-dot-item {
  color:var(--secondaryColor) !important
}
.ant-spin-dot-item{
  background-color: var(--secondaryColor) !important
}

.ant-menu-item-selected{
  color:var(--thirdColor) !important

}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 2px solid var(--thirdColor) !important;

}

.ant-menu-submenu-active span{
  color:var(--thirdColor) !important;
  background-color: rgba(63, 62, 62, 0) !important;

}

.ant-menu-submenu-arrow {
  color:  var(--thirdColor) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(63, 62, 62, 0) !important;
}

.ant-input-suffix{
z-index: 0 !important;
}

a {color:'white'}

.ant-carousel .slick-dots-bottom {
  bottom: 0 !important
}


h3, h1 {
  color:var(--mainColor) 
}


.ant-card-head-title {
  white-space: pre-line !important;
}

@keyframes bounce {
  from {transform: translateY(0);} to {transform: translateY(-10px)}
}

@-webkit-keyframes color_change {
	from {color: var(--mainColor); }
	to {color:white; }
}
@-moz-keyframes color_change {
	from {color: var(--mainColor); }
	to {color:white; }
}
@-ms-keyframes color_change {
	from {color: var(--mainColor); }
	to {color:white; }
}
@-o-keyframes color_change {
	from {color: var(--mainColor); }
	to {color:white; }
}
@keyframes color_change {
	from {color: var(--mainColor); }
	to {color:white; }
}

  span.creditCard > svg{
	animation: color_change 0.5s infinite alternate;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--thirdColor);
  border-color:white;
}

.ant-steps-item-finish .ant-steps-item-icon  {
  background-color:var(--secondaryColor);
  border-color: white;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color:var(--secondaryColor);
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: white;
}

.buttonResume:hover{
  background-color: var(--secondaryColor) !important;
  color: white !important;
  border: none;
}

.css-2b097c-container {
  width: 100%
}

.dividerAuth {
  background-color: #787b7c28;
}

.menuAction  button:hover {
background: var(--secondaryColor) !important;
color:white !important;
border: none !important
}

.categoryTag{
  background:linear-gradient(0deg, #003d2e4d, #003d2e4d),  url('./assets/U455255_Huile-serpent_web.jpg');
  padding: 80px;
  color: white;
}

.videoTag{
  width: 100%;
  position: absolute;
  top:0;
  height: 100%;
  object-fit: fill;
  width: 100%;
  height: 100%;

}

header {
  background: '../src/components/videoplayback.mp4';
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 3;
  
  }
